body{
    background-color: #212529;
}
.bg-light-dark{
    background-color: #343a40 !important;
}

#root{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}